PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/shopify-headless

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=your_google_client_id

SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_TOKEN=your_storefront_access_token
SHOPIFY_API_VERSION=2025-01